.side-nav {
    width: 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    button {
        margin: 0 auto;
        margin-top: 1rem;
        margin-top: 1rem;
    }
}