.msg-box {
  position: relative;
  .actions {
    display: flex;
    position: absolute;
    text-align: right;
    z-index: 1000000;
    top: -10px;
  }
  .base-actions {
    display: grid;
    padding: 0.5em;
    grid-template-areas: 'rep num';
    #repbtn {
      grid-area: rep;
      text-align: left;
    }
    #repamt {
      grid-area: num;
      text-align: center;
    }
  }
}
